<div>
  <md-content layout="row">
  <div layout="column" flex>
    <div layout="row">
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">About Me</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>I do things with computers. Sometimes they turn out great. Sometimes they throw exceptions. Whatever happens, I have fun doing it! Also, I study software engineering at Concordia University.</md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <md-button href="https://github.com/arekmano"><i class="fa fa-github-square social-icon"></i></md-button>
          <md-button href="https://www.linkedin.com/in/arekmano/"><i class="fa fa-linkedin-square social-icon"></i></md-button>
        </md-card-content>
      </md-card>
    </div>
    <md-card layout-gt-xs="row" layout-xs="column">
      <div class="skills-title">Skills</div>
      <div class="skills-list" layout-gt-xs="row" layout-xs="column" flex layout-wrap>
        <skill ng-repeat="skill in vm.skills" flex="33"></skill>
      </div>
    </md-card>
    <md-card layout-gt-xs="row" layout-xs="column">
      <div class="skills-title">Technical Competencies</div>
      <div class="skills-list" layout-gt-xs="row" layout-xs="column" flex layout-wrap>
        <skill ng-repeat="skill in vm.competencies" flex="33"></skill>
      </div>
    </md-card>
  </div>
  </md-content>
</div>