<md-card>
  <md-card-title><span class="md-headline">{{project.name}}</span></md-card-title>
  <md-card-content layout="row">
    <span>
      <img ng-src="{{project.imageURL || '#'}}" ng-if="project.imageURL" style="max-height: 300px;max-width: 200px;" alt="">
    </span>
    <span layout="column" class="project-description">
      <div layout="column">
       <h2 flex>Description:</h2>
       <span flex>{{project.description}}</span>
      </div>
      <div layout="column">
        <h2>Technologies:</h2>
        <md-grid-list
          md-cols="3" md-row-height="4:3">
          <md-grid-tile  md-rowspan="1"
               md-colspan="1"
               md-colspan-sm="1"
               md-colspan-xs="1"
               ng-repeat="technology in project.technologies">
              <i class="tech-icon" ng-class="technology.iconName"></i>
            <md-grid-tile-footer class="tech-name" layout="row" layou-align="center center">
              <div>{{technology.name}}</div>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
        </div>
      <div layout="column">
        <h2>Categories:</h2>
        <md-chips ng-model="project.categories" readonly="true" removable="false">
          <md-chip-template>{{$chip.name}}</md-chip-template>
        </md-chips>
      </div>
    </span>
</md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button layout="row" layout-align="center center" ng-show="project.sourceURL" ng-href="{{project.sourceURL}}">
      <span class="button-text">Source</span>
      <i class="devicon-github-plain"></i>
    </md-button>
    <md-button class="md-primary md-raised" layout="row" layout-align="center center" ng-show="project.demoURL" ng-href="{{project.demoURL}}">
      <span class="button-text">Demo</span>
      <img src="assets/img/ic_open_in_new_black_24px.svg" alt="">
    </md-button>
  </md-card-actions>
</md-card>