<div layout="row">
  <md-card flex>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Contact</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div>You can contact me at any of the given social media sites:</div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-content>
      <div>
          <md-button href="mailto:hello@arekmano.me"><i class="fa fa-envelope-square social-icon"></i></md-button>
          <md-button href="https://github.com/arekmano"><i class="fa fa-github-square social-icon"></i></md-button>
          <md-button href="https://www.linkedin.com/in/arekmano/"><i class="fa fa-linkedin-square social-icon"></i></md-button>
      </div>
    </md-card-content>
  </md-card>
</div>