<div>
  <div>
    <md-button class="themed" ng-class="{'md-raised md-primary': category.selected}" ng-click="vm.clickCategory(category)" ng-repeat="category in vm.categoryOptions">{{category.name}}</md-button>
  </div>
  <div layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <card class="project-card" ng-repeat="project in vm.projects1"></card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <card class="project-card" ng-repeat="project in vm.projects2"></card>
    </div>
  </div>
</div>