PROJECTS
<div>
  <button class="themed" ng-repeat="category in vm.categories">{{category}}</button>
</div>
<div layout="row">
<div flex-xs flex-gt-xs="50" layout="column">
<md-card ng-repeat="project in vm.projects1">
  <md-card-title><span class="md-headline">{{project.name}}</span></md-card-title>
  <md-card-content layout="row">
    <span>
      <img src="https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg" style="max-height: 200px;max-width: 200px;" alt="">
    </span>
    <span class="project-description" flex>{{project.description}}</span>

</md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <button class="themed" layout="row" layout-align="center center">
      <span>Source</span>
      <img src="assets/img/ic_code_black_24px.svg" alt="">
    </button>
    <button class="themed" layout="row" layout-align="center center">
      <span class="button-text">Demo</span>
      <img src="assets/img/ic_open_in_new_black_24px.svg" alt="">
    </button>
  </md-card-actions>
</md-card>
</div>
<div flex-xs flex-gt-xs="50" layout="column">
<md-card ng-repeat="project in vm.projects2">
  <md-card-title><span class="md-headline">{{project.name}}</span></md-card-title>
  <md-card-content>{{project.description}}</md-card-content>
</md-card>
</div>
</div>