.skills-title {
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 20px;
  margin: 5px;
}
.skills-list {
  padding: 20px;
}
.skill {
  margin-right: 2em;
}
skill {
  margin: 5px;
}
.progressbar-text {
  background-color: #eee;
  border-radius: 12px !important;
  padding: 5px !important;
}