.skills-title {
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 20px;
  margin: 5px;
}
.skills-list {
  padding: 20px;
}
.skill {
  margin-right: 2em;
}
skill {
  margin: 5px;
}
.progressbar {
  position: relative;
  display: inline-block;
  .progressbar-text {
    visibility: hidden;
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 0%;
    border-radius: 2px !important;
    padding: 8px !important;
    font-size: x-large;
    font-family: monospace;
    border-color: #333;
    border-style: solid;
    border-width: 2px;
  }
  &:hover {
    .progressbar-text {
        visibility: visible;
    }
    &:before {
      border: solid;
      border-color: #333 transparent;
      border-width: 6px 6px 0 6px;
      bottom: 20px;
      content: "";
      left: 50%;
      position: absolute;
      z-index: 99;
    }
  }
}
