hr {
  width: 98%
}
.skills-title {
  font-family: monospace;
  font-size: 24px;
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 20px;
  margin: 5px;
}
.skills-list {
  padding: 20px 0;
}
.skill-box {
  margin: 10px;
  padding: 10px;
  border-width: 1px;
  border-color: #adadad;
  border-style: solid;
  transition: background-color 0.25s linear;
 .progressbar {
    position: relative;
    display: inline-block;
    padding: 10px;
  }
  .progressbar-text {
    opacity: 0;
    background-color: rgb(25, 51, 74);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 18px;
    border-radius: 2px !important;
    padding: 8px !important;
    font-size: x-large;
    font-family: monospace;
    border-color: #333;
    border-style: solid;
    border-width: 2px;
    transition: opacity 0.25s linear;
  }
  .skill {
    padding: 10px;
    transition: color 0.25s linear;
    font-size:16px;
  }
  &:hover {
    background-color: #dedede;
    .progressbar-text {
        opacity: 1;
    }
    .skill {
      color: #19334a;
      font-weight: bold;
    }
  }
}
