$nav-height: 3em;
$nav-color: #bbb;
$nav-background: opacify($navBarColor, 0.45);


.navbar-fixed {
  position: fixed;
  top: -($nav-height);
}
.selected-button {
  background-color: #19334a;
  color: white;
}
md-toolbar {
  background-color: #415D75;
}
