button.themed {
  padding: 6px;
  border-width: 1px;
  background-color: white;
  border-radius: 1px;
  border-color: darkgray;
  border-style: solid;
  color: darkgray;
  margin: 2px;
  &.accent {
    background-color: #20b795;
    color: white;
  }
  &:hover {
    background-color: #177d66;
    color: white;
  }
}
.project-description {
  margin-left: 10px;
}
.button-text {
  margin-right: 3px;
}