.md-button.categories {
  color: rgba(255,255,255,0.87);
}
.project-description {
  margin-left: 10px;
}
.button-text {
  margin-right: 3px;
}
.tech-icon {
  font-size: 70px;
  z-index: 1;
}
h3 {
  color: white;
}
figcaption {
  margin: auto auto 0 auto;
  z-index: 2;
  color: black;
}
.accent {
  background-color: #20b795;
  color: white;
}