$primaryColor: black;
$backgroudColor: white;
$navBarColor: #82dfca;
$darkColor: #1D1F20;

@import 'project.scss';
@import 'bootstrap.scss';
@import 'navbar.scss';
@import 'default.scss';

.title {
  font-size: 40pt;
  margin: 0;
  text-align: center;
}

.content {
  @extend .col-sm-10;
  @extend .col-sm-offset-1;
  @extend .col-xs-12;
  margin-top: 16px;
}

.footer {
  @extend .col-xs-12;
  text-align: center;
}

.no-spacing {
  margin: 0;
  padding: 0;
}