$primaryColor: black;
$backgroudColor: white;
$navBarColor: #82dfca;
$darkColor: #1D1F20;

@import 'project.scss';
@import 'navbar.scss';
@import 'default.scss';
@import 'about.scss';
@import 'contact.scss';

.title {
  font-size: 40pt;
  margin: 0;
  text-align: left;
}
.title-header {
  z-index: 2;
  color: white;
}
.me {
  z-index: 1;
  position: fixed;
  width: 100%;
}
.content {
  margin-top: 16px;
}

.footer {
  text-align: center;
  color: rgb(25, 51, 74);
  padding: 2em 0;
}

.no-spacing {
  margin: 0;
  padding: 0;
}
.content.ng-enter {
  animation: slideInLeft 1s;
}
.content.ng-leave {
  animation: slideOutRight 1s;
}
.no-flow {
  overflow-x: hidden;
}
[ng-cloak].splash {
  display: block !important;
}
[ng-cloak].body {
  background-color: rgb(25, 51, 74);
  display: block !important;
}
.splash {
    display: none;
}
md-content {
  background-color: inherit;
  z-index: 3;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}