$primaryColor: black;
$backgroudColor: white;
$navBarColor: #82dfca;
$darkColor: #1D1F20;

@import 'project.scss';
@import 'navbar.scss';
@import 'default.scss';

.title {
  font-size: 40pt;
  margin: 0;
  text-align: center;
}

.content {
  margin-top: 16px;
}

.footer {
  text-align: center;
}

.no-spacing {
  margin: 0;
  padding: 0;
}
.content.ng-enter {
  animation: bounceInLeft 1s;
}
.content.ng-leave {
  animation: bounceOutRight 1s;
}
.no-flow {
  overflow-x: hidden;
}